# root dir
/.idea/*
/build/*
/out/*
/target/*
/*.iml
.DS_Store
/.gradle
/.classpath
/.project
/.settings


# sub dir
/**/.idea/*
/**/build/*
/**/out/*
/**/target/*
/**/*.iml
/**/.DS_Store
/**/.gradle
/**/.classpath
/**/.project
/**/.settings
